.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
}

li {
    list-style-type: none;
    padding: 1rem
}

.hamburger {
    display: none;
    padding: 1rem;
}

.mobile-menu {
    display: none;
}


@media screen and (max-width: 940px) {
    .nav-menu { 
        display: none;
    }

    .hamburger {
        display: block;
    }

    .nav-icons {
        display: none;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        justify-content: space-between;
        background-color: #f5f5f5;
        padding-bottom: 2rem;
        transition: 0.3s;
    }

    .mobile-nav {
        padding-bottom: 1.5rem;
    }

    .mobile-menu li {
        padding: 1.2rem 1rem;
        margin: 0 1rem;
        border-bottom: 1px solid #ccc
    }

    .mobile-menu button {
        width: 90%;
        margin: 1rem;
    }

    .mobile-menu-bottom {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .social-icons {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .icon:hover {
        transform: scale(1.5);
        transition: 0.3s;
    }
}