@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-dark: #5651e5;
  --primary-light: #709dff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding: 0 1rem;
}

button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  background-color: var(--primary-dark);
}

button:hover {
  background-color: var(--primary-light);
}

@media screen and (max-width: 940px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}